{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>
<body>
    <div class="pdframe">
        <iframe src="https://drive.google.com/file/d/0B9sfQI5UxkAaYmVGMVNBTG13OUk/preview" width="1145" height="800"></iframe>
    </div>
</body>
</html>
